@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply scroll-smooth border-border outline-none;
  }
  body {
    @apply scrollbar-main relative bg-background font-ubuntu text-foreground;
  }
  :root {
    --background: 214 100% 97%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 239 34% 79%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 237 47% 73%;
    --ring: 221.2 83.2% 53.3%;
    --navbar: 217 81% 58% / 0.29;
    --radius: 0.5rem;
  }

  .dark {
    --background: 244.2 47% 20%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 239.34 53.95% 59.38%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 18 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 240 53% 57%;
    --navbar: 244 60% 13%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  .light1 {
    --background: hsl(214, 100%, 97%);
    --foreground: hsl(222.2, 84%, 4.9%);
    --card: hsl(0, 0%, 100%);
    --card-foreground: hsl(222.2, 84%, 4.9%);
    --popover: hsl(0, 0%, 100%);
    --popover-foreground: hsl(222.2, 84%, 4.9%);
    --primary: hsl(221.2, 83.2%, 53.3%);
    --primary-foreground: hsl(210, 40%, 98%);
    --secondary: hsl(210, 40%, 96.1%);
    --secondary-foreground: hsl(222.2, 47.4%, 11.2%);
    --muted: hsl(210, 40%, 96.1%);
    --muted-foreground: hsl(239, 34%, 79%);
    --accent: hsl(210, 40%, 96.1%);
    --accent-foreground: hsl(222.2, 47.4%, 11.2%);
    --destructive: hsl(0, 84.2%, 60.2%);
    --destructive-foreground: hsl(210, 40%, 98%);
    --border: hsl(214.3, 31.8%, 91.4%);
    --input: hsl(237, 47%, 73%);
    --ring: hsl(221.2, 83.2%, 53.3%);
    --radius: 0.5rem;
  }

  .dark2 {
    --background: hsl(244.2, 47%, 20%);
    --foreground: hsl(210, 40%, 98%);
    --card: hsl(222.2, 84%, 4.9%);
    --card-foreground: hsl(210, 40%, 98%);
    --popover: hsl(222.2, 84%, 4.9%);
    --popover-foreground: hsl(210, 40%, 98%);
    --primary: hsl(217.2, 91.2%, 59.8%);
    --primary-foreground: hsl(222.2, 47.4%, 11.2%);
    --secondary: hsl(217.2, 32.6%, 17.5%);
    --secondary-foreground: hsl(210, 40%, 98%);
    --muted: hsl(217.2, 32.6%, 17.5%);
    --muted-foreground: hsl(239.34, 53.95%, 59.38%);
    --accent: hsl(217.2, 32.6%, 17.5%);
    --accent-foreground: hsl(210, 40%, 98%);
    --destructive: hsl(18, 100%, 50%);
    --destructive-foreground: hsl(210, 40%, 98%);
    --border: hsl(217.2, 32.6%, 17.5%);
    --input: hsl(240, 53%, 57%);
    --ring: hsl(224.3, 76.3%, 48%);
  }
}

@layer utilities {
  .section-heading {
    @apply text-center text-3xl font-semibold text-primary md:text-left;
  }
  .accordion-item[data-state="open"] {
    @apply rounded-md  bg-blue-300 dark:bg-blue-900;
  }
  .bg-section-profile {
    @apply bg-slate-100 dark:bg-blue-950;
  }
}

@layer components {
  .profile-gradient {
    @apply bg-gradient-to-r from-blue-300 to-yellow-300 dark:bg-gradient-to-r dark:from-blue-300 dark:via-blue-600 dark:to-blue-900;
  }
  .scrollbar-main {
    @apply scrollbar scrollbar-thumb-primary scrollbar-thumb-rounded-md scrollbar-w-2;
  }
  .accordion-trigger-product {
    @apply rounded-md !text-lg  font-semibold   text-blue-950 hover:!no-underline dark:text-blue-500;
    /* @apply rounded-md px-3 text-gray-600 aria-expanded:bg-blue-100 hover:!no-underline; */
  }
}
